<div class="jumbotron">
  <div class="container">



  <div class="row">
  <div class="col-8">
<input id="typeahead-basic" [(ngModel)]="textfield" placeholder="new todo text" type="text" class="form-control"/>
</div>
<div class="col-3"> 
     <button class="btn btn-danger" (click)="check()">add</button>


     </div>
</div>
<br><br>
 <ul class="list-group" *ngFor="let i of items">
 <div class="alert alert-danger">
 <div class="row">
  <div class="col-7">
  <li class="list-group-item">{{i}}</li>
  </div><div class="col-3">
  <button class="btn btn-success pull-right">delete</button>
  </div></div>
  </div>
</ul>
</div>
</div>
